.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;

    &_item {
        display: block;
        cursor: pointer;
        padding:10px;
        color:#444;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 1px dotted #444;
        margin-top: 5px;
        margin-bottom:5px;
        text-align: center;

        &:hover {
            color:black;
            border-color: black;
        }
    }
}
