.bs {
    //width:100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &_item {
        //width: 100%;
        box-sizing: border-box;
        padding:5px;
        &:first-letter {
		    text-transform: uppercase;
	    } 
    }

    &_text {
        box-sizing: border-box;

        &:first-letter {
		    text-transform: uppercase;
	    } 
    }

    &_yes_no {
        //border-top: 1px dotted black;
        display: flex;
        margin-left: 10px;
    }

    &_yes {
        margin-top: 5px;
        border: 1px dotted green;
    }

    &_no {
        margin-top: 5px;
        border: 1px dotted red;
    }
}